DSL/.gradle/8.10/fileHashes/fileHashes.lock
.env
/.idea
/Principi-programskih-jezikov/principi-programskih-jezikov/.gradle
Principi-programskih-jezikov/principi-programskih-jezikov/.env

# WindSync - Python virtual environment
windsync_env/

# Python cache
__pycache__/
*.pyc
/MapRRI/tiles
images/image_1767645486167.jpg
/images
Vid/a.jpg
