:root {
  --primary-color: #098eaf;  /* svetlo turkizna */
  --primary-dark: #bbdefb;   /* temna turkizna */
  --background-gradient:#bbdefb; 
  --white: #f0f5f5;
  --border: #ffffff;
  --text-shadow: 0 0 5px rgba(255, 255, 255, 0.719);
}

.taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: var(--background-gradient);
  border-bottom: 2px solid var(--primary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.taskbar-logo {
  display: flex;
  align-items: center;
  color: white;
}

.taskbar-logo h1 {
  font-size: 40px;
  font-weight: 900;
  color: var(--primary-color);
  margin-left: 12px;
  text-shadow: var(--text-shadow);
  letter-spacing: 2px;
}

.logo-icon {
  width: 64px;
  height: 64px;
  filter: drop-shadow(0 0 5px var(--primary-color));
}

.taskbar-right a,
.taskbar-right button {
  margin-left: 28px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
  text-shadow: var(--text-shadow);
  box-shadow: 0 0 8px rgba(0, 191, 166, 0.3);
} 

.taskbar-right a:hover,
.taskbar-right button:hover {
  color: var(--white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 15px var(--primary-color);
  text-shadow: 0 0 10px var(--white);
}
